<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.ReservationMapper">
		<insert id="insertReservation" parameterType="com.roomfinder.vo.ReservationVO">
			INSERT INTO RESERVATION(start_time, end_time, user_email, room_seq)
			VALUES(#{start_time}, #{end_time}, #{user_email}, #{room_seq})
		</insert>
		
	</mapper>