<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.ReservationMapper">
		<insert id="insertReservation" parameterType="com.roomfinder.vo.ReservationVO">
			INSERT INTO RESERVATION(start_time, end_time, user_email, room_seq)
			VALUES(#{start_time}, #{end_time}, #{user_email}, #{room_seq})
		</insert>
		
		<select id="getMyReservation" parameterType="String" resultType="com.roomfinder.vo.ReservationVO">
			SELECT * FROM RESERVATION
			WHERE user_email = #{user_email}
		</select>
		
		<select id="getInsertableCheck" parameterType="com.roomfinder.vo.ReservationVO" resultType="int">
			<![CDATA[
			SELECT COUNT(*) FROM RESERVATION
			WHERE (start_time < #{end_time} and end_time > #{end_time}) or (end_time > #{start_time} and start_time < #{start_time})
			]]>
		</select>
		
		<select id="getRoomReservationList" parameterType="int" resultType="com.roomfinder.vo.ReservationVO">
			SELECT * FROM RESERVATION
			WHERE room_seq = #{room_seq}
		</select>
		
		<select id="getRoomDateReservationList" parameterType="com.roomfinder.vo.ReservationVO" resultType="com.roomfinder.vo.ReservationVO">
			SELECT * FROM RESERVATION
			WHERE room_seq = #{room_seq}
			AND DATE(start_time) = #{str_date} OR DATE(end_time) = #{end_time}
		</select>
		
		<select id="getRoomAfterNowReservationList" parameterType="int" resultType="com.roomfinder.vo.ReservationVO">
			<![CDATA[
			SELECT * FROM RESERVATION
			WHERE room_seq = #{room_seq}
			AND end_time > now() 
			]]>
		</select>
		
		<select id="getAfterNowReservationCount" parameterType="int" resultType="int">
			<![CDATA[
			SELECT COUNT(*) FROM RESERVATION
			WHERE room_seq = #{room_seq}
			AND end_time > now()
			]]>
		</select>
		
	</mapper>