<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.ReservationMapper">
		<insert id="insertReservation" parameterType="com.roomfinder.vo.ReservationVO">
			INSERT INTO RESERVATION(start_time, end_time, user_email, room_seq, inserted_time)
			VALUES(#{start_time}, #{end_time}, #{user_email}, #{room_seq}, now())
		</insert>
		
		<select id="getMyReservation" parameterType="String" resultType="com.roomfinder.vo.ReservationVO">
			SELECT RESERVATION.*, STORE.store_name as store_name, 
			ROOM.room_name as room_name, 
			ROOM.representing_image_extension as representing_image_extension,
			ROOM.directory_name as directory_name,
			ROOM.store_email as store_email,
			ROOM.price_per_hour as price_per_hour
			FROM RESERVATION, ROOM, STORE
			WHERE RESERVATION.room_seq = ROOM.room_seq
			AND ROOM.store_email = STORE.email
			AND user_email = #{user_email}
		</select>
		
		<select id="getInsertableCheck" parameterType="com.roomfinder.vo.ReservationVO" resultType="int">
			<![CDATA[
			SELECT COUNT(*) FROM RESERVATION
			WHERE (start_time < #{end_time} and end_time > #{end_time}) or (end_time > #{start_time} and start_time < #{start_time})
			OR start_time = #{start_time}
			OR end_time = #{end_time}
			]]>
		</select>
		
		<select id="getRoomReservationList" parameterType="int" resultType="com.roomfinder.vo.ReservationVO">
			SELECT * FROM RESERVATION
			WHERE room_seq = #{room_seq}
		</select>
		
		<select id="getRoomDateReservationList" parameterType="com.roomfinder.vo.ReservationVO" resultType="com.roomfinder.vo.ReservationVO">
			SELECT * FROM RESERVATION
			WHERE room_seq = #{room_seq}
			AND DATE(start_time) = #{str_date} OR DATE(end_time) = #{end_time}
		</select>
		
		<select id="getRoomAfterNowReservationList" parameterType="int" resultType="com.roomfinder.vo.ReservationVO">
			<![CDATA[
			SELECT * FROM RESERVATION
			WHERE room_seq = #{room_seq}
			AND end_time > now() 
			]]>
		</select>
		
		<select id="getAfterNowReservationCount" parameterType="int" resultType="int">
			<![CDATA[
			SELECT COUNT(*) FROM RESERVATION
			WHERE room_seq = #{room_seq}
			AND end_time > now()
			]]>
		</select>
		
		<select id="getReservationSeq" parameterType="com.roomfinder.vo.ReservationVO" resultType="int">
			SELECT max(reservation_seq) FROM RESERVATION
			WHERE user_email = #{user_email}
			AND room_seq = #{room_seq}
			AND start_time = #{start_time}
		</select>
		
		<select id="getReservation" parameterType="int" resultType="com.roomfinder.vo.ReservationVO">
			SELECT * FROM RESERVATION
			WHERE reservation_seq = #{reservation_seq}
		</select>
		
		<delete id="deleteReservation" parameterType="int">
			DELETE FROM RESERVATION
			WHERE reservation_seq = #{reservation_seq}
		</delete>
		
		<delete id="deleteUnpaidReservation" parameterType="int">
			<![CDATA[
			DELETE t_reservation, t_payment
			FROM RESERVATION t_reservation INNER JOIN PAYMENT t_payment
			WHERE t_reservation.reservation_seq = t_payment.reservation_seq
			AND t_payment.payment_method = 'yet'
			AND t_reservation.inserted_time < DATE_SUB(now(), INTERVAL 15 MINUTE)
			AND t_reservation.reservation_seq = #{reservation_seq}
			]]>
		</delete>
		
	</mapper>