<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.RoomMapper">
		
		
		<insert id="insertRoom" parameterType="com.roomfinder.vo.RoomVO">
			INSERT INTO ROOM(room_name, price_per_hour, description, capacity, directory_name ,store_email, representing_image_extension)
			VALUES(#{room_name}, #{price_per_hour}, #{description}, #{capacity}, #{directory_name}, #{store_email}, #{representing_image_extension})
		</insert>
		
		<insert id="insertRoomImage" parameterType="com.roomfinder.vo.RoomImageVO">
			INSERT INTO ROOM_IMAGE(room_seq, file_name)
			VALUES(#{room_seq}, #{file_name})
		</insert>
		
		<select id="getRoom" parameterType="int" resultType="com.roomfinder.vo.RoomVO">
			SELECT * FROM ROOM
			WHERE room_seq = #{room_seq}
		</select>
		
		<select id="getRoomList" parameterType="String" resultType="com.roomfinder.vo.RoomVO">
			SELECT * FROM ROOM
			WHERE store_email = #{store_email}
		</select>
		
		<select id="getRoomImageList" parameterType="int" resultType="com.roomfinder.vo.RoomImageVO">
			SELECT ROOM_IMAGE.*, ROOM.directory_name as directory_name FROM ROOM_IMAGE, ROOM
			WHERE ROOM_IMAGE.room_seq = ROOM.room_seq
			AND ROOM_IMAGE.room_seq = #{room_seq}
		</select>
		
		<update id="updateRoom" parameterType="com.roomfinder.vo.RoomVO">
			UPDATE ROOM
			SET room_name = #{room_name},
			price_per_hour = #{price_per_hour},
			description = #{description},
			capacity = #{capacity},
			room_representing_image_res = #{room_representing_image_res}
			WHERE room_seq = #{room_seq}
		</update>
		
		<delete id="deleteRoomImage" parameterType="int">
			DELETE FROM ROOM_IMAGE
			WHERE room_image_seq = #{room_image_seq}
		</delete>
		
		<delete id="deleteRoom" parameterType="int">
			DELETE FROM ROOM
			WHERE room_seq = #{room_seq}
		</delete>
		
	</mapper>