<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.RoomMapper">
		
		
		<insert id="insertRoom" parameterType="com.roomfinder.vo.RoomVO">
			INSERT INTO ROOM(room_name, price_per_hour, description, capacity, room_representing_image_res, store_email)
			VALUES(#{room_name}, #{price_per_hour}, #{description}, #{capacity}, #{room_representing_image_res}, #{store_email})
		</insert>
		
		<insert id="insertRoomImage" parameterType="com.roomfinder.vo.RoomImageVO">
			INSERT INTO ROOM_IMAGE(room_image_res, room_seq)
			VALUES(#{room_image_res}, #{room_seq})
		</insert>
		
		<select id="getRoom" parameterType="int" resultType="com.roomfinder.vo.RoomVO">
			SELECT * FROM ROOM
			WHERE room_seq = #{room_seq}
		</select>
		
		<select id="getRoomList" parameterType="String" resultType="com.roomfinder.vo.RoomVO">
			SELECT * FROM ROOM
			WHERE store_email = #{store_email}
		</select>
		
		<delete id="deleteRoomImage" parameterType="int">
			DELETE FROM ROOM_IMAGE
			WHERE room_image_seq = #{room_image_seq}
		</delete>
		
	</mapper>