<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.StoreMapper">
		<insert id="insertStoreImage" parameterType="com.roomfinder.vo.StoreImageVO">
			INSERT INTO STORE_IMAGE(store_email, file_name)
			values(#{store_email}, #{file_name})
		</insert>
		
		<select id="getStoreList" resultType="com.roomfinder.vo.StoreVO">
			SELECT STORE.*, min(ROOM.price_per_hour) as min_price FROM STORE INNER JOIN ROOM
			ON STORE.email = ROOM.store_email
			GROUP BY STORE.email
		</select>
		
		<select id="getStoreImage" parameterType="int" resultType="com.roomfinder.vo.StoreImageVO">
			SELECT * FROM STORE_IMAGE
			WHERE store_image_seq = #{store_image_seq}
		</select>
		
		<select id="getPriceSearchStoreList" parameterType="com.roomfinder.vo.SearchVO" resultType="com.roomfinder.vo.StoreVO">
			SELECT STORE.*, min(ROOM.price_per_hour) as min_price FROM STORE, ROOM
			WHERE STORE.email = ROOM.store_email
			GROUP BY STORE.email
			HAVING (min_price BETWEEN #{min_price} AND #{max_price})
		</select>
		
		<select id="getTotalSearchStoreList" parameterType="String" resultType="com.roomfinder.vo.StoreVO">
			SELECT STORE.*, min(ROOM.price_per_hour) as min_price FROM STORE, ROOM
			WHERE STORE.email = ROOM.store_email
			GROUP BY STORE.email
			HAVING (store_name like '%${search_keyword}%' OR address_line like '%${search_keyword}%')
		</select>
		
		<select id="getStoreImageList" parameterType="String" resultType="com.roomfinder.vo.StoreImageVO">
			SELECT * FROM STORE_IMAGE
			WHERE store_email = #{store_email}
		</select>
		
		<select id="getAndSearchStoreList" parameterType="com.roomfinder.vo.SearchVO" resultType="com.roomfinder.vo.StoreVO">
			SELECT STORE.*, min(ROOM.price_per_hour) as min_price FROM STORE, ROOM
			WHERE STORE.email = ROOM.store_email
			GROUP BY STORE.email
			HAVING (store_name like '%${search_keyword}%' OR address_line like '%${search_keyword}%')
			AND (min_price BETWEEN #{min_price} AND #{max_price})
		</select>
		
		<select id="getFlexibleSearchStoreList" parameterType="com.roomfinder.vo.SearchVO" resultType="com.roomfinder.vo.StoreVO">
			<![CDATA[
			SELECT STORE.*, min(ROOM.price_per_hour) as min_price, 
			RESERVATION.start_time as start_time, 
			RESERVATION.end_time as end_time 
			FROM STORE left outer JOIN ROOM
			ON STORE.email = ROOM.store_email left outer JOIN RESERVATION
			ON RESERVATION.room_seq = ROOM.room_seq
			GROUP BY STORE.email
			HAVING (not((start_time < #{str_start_date_time} and end_time < #{str_start_date_time}) 
						and start_time = #{str_start_date_time}))
			]]>
			<if test="search_keyword != null">
			AND (store_name like '%${search_keyword}%' OR address_line like '%${search_keyword}%')
			</if>
			<if test="min_price != null">
			<![CDATA[AND min_price <= #{min_price}]]>
			</if>
		</select>
		
		<update id="updateStoreRepresentingImage" parameterType="com.roomfinder.vo.StoreVO">
			UPDATE STORE
			SET representing_image_extension = #{representing_image_extension}
			WHERE email = #{email}
		</update>
		
		<update id="updateStore" parameterType="com.roomfinder.vo.StoreVO">
			UPDATE STORE
			SET store_name = #{store_name},
			address_line = #{address_line},
			telephone = #{telephone},
			operating_time = #{operating_time},
			description = #{description}
			WHERE email = #{email}
		</update>
		
		<update id="updateStoreImageRes" parameterType="com.roomfinder.vo.StoreImageVO">
			UPDATE STORE_IMAGE
			SET store_image_res = #{store_image_res}
			WHERE store_iamge_seq = #{store_iamge_seq}
		</update>
		
		<delete id="deleteStoreImage" parameterType="com.roomfinder.vo.StoreImageVO">
			DELETE FROM STORE_IMAGE
			WHERE store_image_seq = #{store_image_seq}
		</delete>
	</mapper>