<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.roomfinder.mapper.StoreMapper">
		<insert id="insertStoreImage" parameterType="com.roomfinder.vo.StoreImageVO">
			INSERT INTO STORE_IMAGE(store_image_res, store_email)
			values(#{store_image_res}, #{store_email})
		</insert>
		
		<select id="getStoreList" resultType="com.roomfinder.vo.StoreVO">
			SELECT * FROM STORE
		</select>
		
		<select id="getStoreImage" parameterType="int" resultType="com.roomfinder.vo.StoreImageVO">
			SELECT * FROM STORE_IMAGE
			WHERE store_image_seq = #{store_image_seq}
		</select>
		
		<select id="getLocationSearchStoreList" parameterType="String" resultType="com.roomfinder.vo.StoreVO">
			SELECT * FROM STORE
			WHERE address_line like '%${search_keyword}%'
		</select>
		
		<update id="updateStoreRepresentingImage" parameterType="com.roomfinder.vo.StoreVO">
			UPDATE STORE
			SET store_representing_image_res = #{store_representing_image_res}
			WHERE email = #{email}
		</update>
		
		<update id="updateStore" parameterType="com.roomfinder.vo.StoreVO">
			UPDATE STORE
			SET store_name = #{store_name},
			address_line = #{address_line},
			telephone = #{telephone},
			operating_time = #{operating_time},
			description = #{description},
			store_representing_image_res = #{store_representing_image_res}
			WHERE email = #{email}
		</update>
		
		<delete id="deleteStoreImage" parameterType="com.roomfinder.vo.StoreImageVO">
			DELETE FROM STORE_IMAGE
			WHERE store_image_seq = #{store_image_seq}
		</delete>
	</mapper>